{% extends 'base.html.twig' %}

{% block title 'List of my offers' %}

{% block body %}
    <div class="container mt-3">
        <h1>Mon Interface d'utilisateur</h1>
        <h3>Bonjour <span class="text-primary">{{ app.user.firstname }} {{ app.user.lastname }}</span>
            ! {% if is_granted('ROLE_ADMIN') %} <span class="text-danger">ADMINISTRATEUR</span> {% endif %}
        </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet porttitor justo. Donec ac lorem
            neque. Suspendisse vel urna faucibus, fermentum lacus ut, efficitur ex. Aliquam rhoncus tellus in pulvinar
            faucibus. Curabitur tempor mollis magna, ut volutpat elit blandit ut. Donec imperdiet at lectus vitae
            mattis. Duis et congue magna. Vestibulum posuere tempus pretium. Aliquam a facilisis tortor. Vestibulum
            imperdiet viverra lorem, non fringilla mauris blandit sit amet. Suspendisse finibus placerat velit, id
            sodales nibh suscipit at. Morbi et tortor orci.
        </p>
    </div>

    <div class="container mt-4">
        <h2>Mes Informations</h2>
        <table class="table table-striped">
            <tr>
                <td>Prénom</td>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>

    </div>
{% endblock %}